* {
    color1: white;
    color2: #d4d4d4;
}

.mainPane {
    -fx-background-color: color1;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.pane {
    -fx-background-color: #4160FF;
}
.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: #d4d4d4;
    -fx-border-radius: 0;
}
.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-height: 50;
    -fx-pref-width: 80;
}
.tab-pane .tab:selected {
    -fx-background-color: #285992;
}

.tab .tab-label {
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-pref-width: 65;
}
.tab:selected .tab-label {
    -fx-underline: true;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.166667em 0.0em 5.95em;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}


.button {
    -fx-background-radius: 30;
    -fx-border-color: #d4d4d4;
    -fx-border-radius: 30;
}

.button .mfx-ripple-generator {
    -mfx-ripple-radius: 30;
    -mfx-auto-clip: true;
}

/*
 *  Text-field
 */

.text-field {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-wrap-text: true;
}

.text-field .floating-text {
    -fx-background-color: color1;
    -fx-text-fill: black;
}